@import 'variables';
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #5f4268;
    color: #fff;
    position: relative;
}

a {
    text-decoration: none;
    color: #0574f3;
    padding: 1rem;
    font-size: 1rem;
}


img {
    width: 100%;
    object-fit: cover;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar:hover {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: .5rem;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #aaaaaa;
}

