@import 'variables';

main {    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36rem;
    background: #875BC1;
    background: -webkit-linear-gradient(top left, #7c4bbc, #ff9c81);
    background: -moz-linear-gradient(top left, #7c4bbc, #ff9c81);
    background: linear-gradient(to bottom right, #7c4bbc, #ff9c81);
    gap: 3rem;
    border-radius: 0 0 1rem 1rem;

    h1 {
        font-weight: 400;
        font-size: 1.5rem;
    }

    form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        input[type='text'] {
            padding: 1.5rem;
            width: 100%;
            font-size: 1rem;
            border-radius: .7rem;
            outline: none;
            border: none;
        }

        button {
            padding: 1rem;
            border-radius: .7rem;
            outline: none;
            border: none;
            position: absolute;
            right: 2%;
            cursor: pointer;
            background-color: transparent;
        }
    }
    .auto{
        font-weight: 600;
        font-size: 1.5rem;
    }
    .typed-cursor {
        font-size: 2rem;
    }
}